@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* mobile  */
@media (min-width: 375px) and (max-width: 700px){ 
  .container-mobile{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
  }

  .mobile-menu{
    position: fixed;
    top: 0;
    right: -360vw;
    z-index: 1002;
    width: 360px;
    height: 100%;
    background: linear-gradient(180deg, #1b4a5f 0%, #1b4a5f 100%) !important;
    transform: translateX(-360vw);
    transition-duration: 0.5s;
    transition-property: all;
  }

  .logo-semantix {
    float: left;
    margin: 20px;
    color: #fff;
    font-size: 20px;
  }

  .logo-semantix-mobile {
    float: left;
    margin: 20px;
    color: #fff;
    font-size: 20px;
  }

  .btn-menu{
    float: right;
    margin: 15px;
    cursor: pointer;
  }

  .btn-close-menu{
    float: right;
    margin: 15px;
    cursor: pointer;
  }

  .navbar-vertical {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
    width: 100% !important;
    height: 60px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    overflow-y: hidden !important;
    background: linear-gradient(180deg, #000000 0%, #555555 100%) !important;
  }

  .main-content {
    position: relative !important;
    box-sizing: border-box !important;
    margin: 60px 0px 0px 0px !important;
    padding: 20px !important;
  }

  .list-menu {
    display: none !important;
  }

  .list-menu-mobile{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
    display: block !important;
    float: right;
  }

  .list-menu-mobile ul{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #022635;
  }

  .list-menu-mobile ul li{
    float: left;
    width: 100%;
    padding: 16px 15px;
    background:rgba(255,255,255,0.0);
    border-bottom: 1px solid #022635;
    transition-duration: 0.5s;
    transition-property: all;
  }

  .list-menu-mobile ul li:hover{
    float: left;
    width: 100%;
    padding: 16px 15px;
    background:rgba(255,255,255,0.2);
    border-bottom: 1px solid #022635;
  }

  .list-menu-mobile ul li a{
    float: left;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
  }

  .list-menu-mobile ul li a .menu-item-icon{
    display: block;
    float: left;
    width: 30px;
    margin: 0px 10px 0px 0px;
    text-align: left;
  }

  .list-menu-mobile ul li a .menu-item-title{
    display: block;
    float: left;
    width: 200px;
    margin: 0px;
    text-align: left;
  }
}

body{
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  background: #eee;
}